{{ ansible_managed | comment }}

[Unit]
Description=smartctl_exporter
Documentation=https://github.com/prometheus-community/smartctl_exporter
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ smartctl_exporter_bin_file }}

[Service]
Restart=always
RestartSec=5
TimeoutSec=5

User={{ smartctl_exporter_system_user }}
Group={{ smartctl_exporter_system_group }}

ExecStart={{ smartctl_exporter_bin_file }} \
{% if smartctl_exporter_smartctl_path is defined and smartctl_exporter_smartctl_path | length %}
    --smartctl.path={{ smartctl_exporter_smartctl_path }} \
{% endif %}
{% if smartctl_exporter_smartctl_interval is defined and smartctl_exporter_smartctl_interval | length %}
    --smartctl.interval={{ smartctl_exporter_smartctl_interval }} \
{% endif %}
{% if smartctl_exporter_smartctl_rescan is defined and smartctl_exporter_smartctl_rescan | length %}
    --smartctl.rescan={{ smartctl_exporter_smartctl_rescan }} \
{% endif %}
{% if smartctl_exporter_smartctl_devices is defined and smartctl_exporter_smartctl_devices | length %}
{% for device in smartctl_exporter_smartctl_devices %}
    --smartctl.device={{ device }} \
{% endfor %}
{% endif %}
{% if smartctl_exporter_smartctl_device_include is defined and smartctl_exporter_smartctl_device_include | length %}
    --smartctl.device-exclude={{ smartctl_exporter_smartctl_device_include }} \
{% endif %}
{% if smartctl_exporter_smartctl_device_exclude is defined and smartctl_exporter_smartctl_device_exclude | length %}
    --smartctl.device-include={{ smartctl_exporter_smartctl_device_exclude }} \
{% endif %}
{% if smartctl_exporter_telemetry_path is defined and smartctl_exporter_telemetry_path | length %}
    --web.telemetry-path="{{ smartctl_exporter_telemetry_path }}" \
{% endif %}
    --web.config.file={{ smartctl_exporter_config_file }} \
{% if smartctl_exporter_listen_addresses is defined and smartctl_exporter_listen_addresses | length %}
{% for address in smartctl_exporter_listen_addresses %}
    --web.listen-address={{ address }} \
{% endfor %}
{% endif %}
    --log.level={{ smartctl_exporter_log_level }} \
    --log.format={{ smartctl_exporter_log_format }}

[Install]
WantedBy=multi-user.target
