---
{{ ansible_managed | comment }}

{% if smartctl_exporter_web_configuration is defined and smartctl_exporter_web_configuration | length > 0 %}
{{ smartctl_exporter_web_configuration | to_nice_yaml(indent=2) }}
{% endif %}
